################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SearchableSpinner
/SearchableSpinner.Droid/bin/Debug
/SearchableSpinner.Droid/obj
/SearchableSpinner.Droid/SearchableSpinner.Droid.csproj.user
/SearchableSpinner.Droid.Sample/bin/Debug
/SearchableSpinner.Droid.Sample/obj
/SearchableSpinner.Droid.Sample/SearchableSpinner.Droid.Sample.csproj.user
/.vs/xamarin-android-searchablespinner/v15
/SearchableSpinner.Droid/bin/Release
/SearchableSpinner.Droid.Sample/bin/Release
/.vs
